h3{
    border-radius: 50px;
    background-color: lightgreen;
}
body{
    background-color: plum;
}
b{
    border-radius: 10px;
    border-top: 10px;
    border-right: 30px;
    border-color: red;
    color: whitesmoke;
    font-size: 25px;
    width: 30%;
}
label{
    color: deepskyblue;
    font-size: 20px;
}
p{
 border-radius: 15px;
 border-color: indianred;
}